{% extends 'StudyHall/index.html' %}

{% block content %}
<div class="home-view">
    <div class="topics-host">
        <!-- search bar -->
        <form class="search-bar method="GET" action="{% url 'home' %}">
            <input type="text" name="q" placeholder="Search...">
            <button type="submit">Search</button>
        </form>

        <h3>Top Hosts</h3>
        <hr>

        <h3>Topics</h3>
        <hr>
        <a href="{% url 'home' %}"> All </a>
        {% for topic in topics %}
            <div>
                <a href="{% url 'home' %}?q={{topic.name}}"> {{topic.name}} </a>
            </div>
        {% endfor %}
    </div>
    <!-- Search bar -->
    <!-- <div class="search-bar">
        <form method="GET" action="{% url 'home' %}">
            <input type="text" name="q" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </div> -->
    
    
    <div class="room-container">
       
        <a href="{% url 'create-room' %}">Create a Room</a> <br>
        <small>There are <b> {{room_count}} </b> rooms available </small>
        {% for room in rooms %}
        <div>
            <span> Host @{{room.host.username}}</span>
            <h4> <a href="{% url 'room' room.title %}">{{room.title}}</a>  </h4>
            <h5> {{room.description}} </h5>
            <a href="{% url 'update-room' room_title=room.title %}">Edit</a>
            <a href="{% url 'delete-room' room_title=room.title %}">Delete</a>
            <small>{{ room.topic.name }}</small>
            
        {% empty %}
        <p>
            No rooms available
        </p>
        </div>
        
        {% endfor %}
    </div> 
</div>
{% endblock %}
